/* Les instructions pour mon fond de page web */

#page /* division qui englobe toute la page */
{
	width: 1000px;
	margin: auto;
}
/* Mon header de ma page ''le logo'' */
#page #haut
{
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;

	height: 300px;	
	width: 1000px;
}
#menuSecondaire
{
	float: right;
	padding-right: 25px;
	padding-top: 15px; 
}

#menuSecondaire ul
{
	margin:0;
}

#menuSecondaire li
{

	list-style-type:none;
	display:inline-block;
	padding:0;
	margin:0;
}

#menuSecondaire a
{
	text-decoration: none;
	color: rgb(45,21,79);
}
#menuSecondaire a:hover
{
	text-decoration: underline;
}
#logo
{
	margin-left: 37%;
	padding-top: 20px;
}

body
{
	font-family: 'Rubik', sans-serif;
	background-image: url("../images/fond.png");
	margin:0;
}
#connexion
{
	width: 375px;
	margin: auto;
}
/* forulaire connexion */

#connexion p
{
	color: rgb(45,21,79);
	margin: 0px 0px 10px 0px;
	font-size: 100%;
}
#connexion a
{
	font-size: 72%;
	text-decoration:none;
}

#connexion #btnconnecter
{
	margin-left: 15px;
}

#inscription
{
	width: 455px;
	margin: auto;
}

#inscription p
{
	color: rgb(45,21,79);
	margin: 0px 0px 10px 0px;
	font-size: 100%;
}

#inscription input
{
	width: 250px;
}


.vertfonce
{
	background-color: rgb(0, 255, 205);
}

.vertpale
{
	width: 190px;
	background-color: rgb(175, 254, 233);
}

/* menu principal */
#menu-principal
{
	text-align: center;
	background-color: rgb(45,21,79);
	border-radius: 0px 0px 0px 0px;
	color: white;
	padding: 20px;
}
#menu-principal li
{
	font-size: 130%;
	list-style-type:none;
	display:inline-block;
	padding:0;
	margin:0;

}
#menu-principal ul
{
	margin:0;

}
#menu-principal a
{
	padding:0;
	margin:0;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration:none;
}

#menu-principal a:hover
{
	background-color: rgb(0, 255, 205);
	color: rgb(45,21,79);
	padding-top: 20px;
	padding-bottom: 21px;
}
/*index*/
#solde
{
	position: relative;
}
#point
{
	margin:0;
	padding:0;
	position: absolute;
	bottom: 15px;
	text-align:center;
	width:1000px;
}
#liste
{
	margin:0;
	padding:0;
}

#liste li
{
	list-style-type:none;
	display:inline-block;
	margin:0;
	padding:0;
}

/* menu page produit */
#conteneur-menu-produit
{
	padding:0px;
	background-color: white;


}
#menu-produit
{
	float:left;
	width: 150px;
	height:250px;
	text-align: left;
	background-color: white;
	border-radius: 0px 0px 0px 0px;
	color: rgb(45,21,79);
	padding: 25px 20px 0px 20px;
	margin:0px;
	border-right : 3px solid rgb(45,21,79);
	margin-right: 80px;

}
#menu-produit li
{
	display: block;
	list-style-type:none;
	padding: 15px 0px 0px 0px;
	font-size: 115%;

}
#menu-produit ul
{
	padding: 0px;
	margin:0px;

}
#menu-produit a
{
	display: inline-block;

	text-decoration:none;
}

#menu-produit a:hover
{
	text-decoration: underline;
}

#recherche
{
	width:140px;
}

/* Section contenu */
#contenu
{
	padding:0px;
	background-color: white;
	font-size: 110%;
	background-repeat: no-repeat;
	padding-bottom: 40px;
	min-height: 300px;
	
}
#contenu p
{
	padding-left: 80px;
	padding-right: 80px;
}



/* Section page produit*/
#contenu-produit
{
	padding:0px;
	background-color: white;
	font-size: 110%;
	background-repeat: no-repeat;
	padding-bottom: 40px;
	margin-left:180px;
	min-height: 400px;
	overflow: auto;
}

#contenu-produit h2
{
	color: rgb(45,21,79);
	margin: 0;
	margin-top: 15px;
}

#contenu-produit .souligne
{

	margin-bottom: 40px;
	border-bottom: 3px solid rgb(45,21,79);
	width: 460px;
	margin-left: 30px;
}

#bonbons
{

	margin-right: 25px;
	float: left;
	width: 125px;
}

#bonbons h3
{
	margin-top: 0;
	text-align: center;
	width: 125px;
}

#prix
{
	float: left;
	margin-right: 75px;
	height: 205px;
}

#prix p
{
	padding-left: 21px;
	margin-top: 35px;
	margin-bottom: 15px;
}

#bonbons a
{
	color: rgb(45,21,79);
	text-decoration: none;
}

#bonbons a:hover
{
	color: rgb(0, 255, 205);
}



/*Description produit*/
#description
{
	margin-left: 80px;
}

#description img
{
	float:left;
	margin-right: 50px;
}

#info
{
	padding-top: 18px;
	padding-bottom: 10px;
}



/*Panier*/

#elemPanier
{
	margin-left: 80px;
	height: 190px;
}

#elemPanier p
{
	padding: 0;
	margin: 0;
}

#imageNom
{
	float: left;
	margin-right: 30px;
	width:125px;
}

#imageNom h3
{
	text-align: center;
	font-size: 90%;
}

#imageNom h4
{
	text-align: center;
	margin: 0;
	font-size: 90%;
}

#imageNom a
{
	color: rgb(45,21,79);
	text-decoration: none;
}

#imageNom a:hover
{
	color: rgb(0,255,205);
}

.floaterGauche
{
	float: left;
}

.floaterGauche p
{
	padding: 0;
}

#infoItemPanier
{
	padding-top: 45px;
}

#infoItemPanier p
{
	padding-left: 10px;
	padding-right: 10px;
}

#vider
{
	float: right;
	margin-right: 80px;
}

#passerCommande
{
	margin-left: 366px;
}

#prixTotal
{
	margin-left: 300px;
}



/*Commande*/

fieldset
{
	width: 500px;
	margin-left: 58px;
	color: rgb(45,21,79);
	border: none;
	margin-bottom: 40px;
}
.souvenir
{
	margin-bottom: 10px;
}


#paiement li
{
	list-style-type: none;
}

#adresseLivraison
{
	width: 350px;
	float: right;
}

#adresseLivraison p
{
	padding: 0;
}

.commandeh3
{
	margin-left: 80px;
	margin-bottom: 30px;
}

#payer
{
	margin-left: 310px;
	padding-left: 30px;
	padding-right: 30px;
}


/* Section page à propos*/
#aproposbloc1
{
	float:left;
	width: 250px;
	margin-left:80px;
	margin-right: 72px;
}
#aproposbloc1 p
{
	margin:0px 0px 0px 0px;
	padding: 0px;
}
#aproposbloc1 h2
{
	margin-left: 0px;
}
#aproposbloc2
{
	float:left;
	
	width: 275px;
	margin-bottom: 45px;
}
#aproposbloc2 p
{
	margin:0px;
	padding: 0px;
}
#aproposbloc2 h2
{
	margin-left: 0px;
}
#aproposbloc3
{
	clear:both;
	margin-left: 70px;
}

/* Pied de page */
footer
{
	text-align: center;
	background-color: rgb(45,21,79);
	border-radius: 0px 0px 0px 0px;
	margin:0;
	padding: 5px;
	height: 40px;
}


footer p
{
	margin:0;
	color: white;
	font-size: 75%;
	padding-top: 13px;
}
footer a
{
	color: rgb(175, 254, 233);
	text-decoration:none;
}

/* H1/h2/h3/h4.. */
h1
{
	font-size: 0px;
}
h2
{
	color: rgb(45,21,79);
	margin: 0;
	padding-top: 15px;
	margin-left: 80px;
	font-variant: 400;
	font-style: 400;
	
}

.souligne
{

	margin-bottom: 40px;
	border-bottom: 3px solid rgb(45,21,79);
	width: 490px;
	margin-left: 120px;
}

h3
{
	margin: 0;
	color: rgb(45,21,79);
	font-style: 400;
}

.btn
{
	font-size: 75%;
	color: rgb(45,21,79);
	background-color: rgb(0, 255, 205);
	text-decoration: none;
	padding:8px;
	border-radius: 15px;
	margin-left: 5px;
}

.btn:hover
{
	background-color: rgb(175, 254, 233);
}

.milieu
{
	padding-top: 50px;
	margin-left: 0;
	text-align: center;
}

#confimationmilieu
{
	margin-left: 248px;
}
#chargement {
	font-size: 13px;
	color: white;
	font-style: italic;
	visibility: hidden;
	padding:0;
	margin:0;
}
#img-chargement-ajax {
	vertical-align: middle;
}
.masquer {
	display:none;
}
.afficher {
	display:block;
}

.errChamps
{
	border-color: red;
	border-width: 3px;
}

.pasErreur
{
	border-color: rgb(175, 254, 233);
	border-width: 3px;
}
#titreCategorie
{
	color: black;
	font-size: 100%;
	margin: 0;
	padding:0;
}
#listeCategorie li
{
	padding: 0;
	margin: 0;
	padding-left: 10px;
	font-size: 75%;

}

#listeItems
{
	width: 142px;
	padding: 10px;
	position: absolute;
	z-index: 158;
	background-color: #fff;
}


#listeItems p
{
	margin: 0;
	padding: 0;
	font-size: 75%;
}

#msg-erreur
{
	margin:0;
	padding-top: 25px;
	font-size: 75%;
}

#petitPanier
{
	position: absolute;
	background-color: #fff;
	margin-left: 25px;
	padding: 8px;
	width: 240px;
	z-index: 105;
}

#petitPanier p
{
	margin: 0;
	font-size: 75%;
	float: left;
	
}

#prixqte p
{
	margin-right: 5px;
	margin-top: 12px;
	padding: 2px;
}

.ItemPetitPanier
{
	height: 108px;
	padding-top:8px;
	padding-left: 8px;
	padding-right: 8px;
}

.montrer
{
	border : 3px solid rgb(45,21,79);
	border-radius: 20px;
}

#ImageNom
{
	width: 50px;
	float: left;
	margin-right: 10px;
}

#ImageNom p
{
	text-align: center;
}

#prixFinal
{
	padding-left: 45px;
}

#allerpanier
{
	padding-left: 10px;
}
